/* line 1, ../sass/_global.scss */
h3 {
  font-size: 100px;
  font-weight: 700;
  margin: 10px 40%;
}

/* line 7, ../sass/_global.scss */
ul {
  margin-left: 10px;
  padding: 0;
}

/* line 12, ../sass/_global.scss */
li {
  margin: 10px auto;
  color: #fcfff5;
  cursor: pointer;
}
/* line 16, ../sass/_global.scss */
li:hover {
  color: #000000;
}

/* line 21, ../sass/_global.scss */
.container-notes {
  background-color: #E3F2FD;
  height: 500px;
  width: 40%;
  box-shadow: 10px 10px 10px grey;
  float: left;
  margin-left: 20px;
  padding-top: 40px;
  overflow: auto;
  min-width: 41%;
}

/* line 33, ../sass/_global.scss */
.toolbox {
  width: 15%;
  background-color: #42A5F5;
  box-shadow: 10px 10px 10px grey;
  float: left;
  margin: auto;
}

/* line 41, ../sass/_global.scss */
body {
  background-image: url("../images/spiration-light.png");
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  font-size: 20px;
  list-style-type: none;
}

/* line 49, ../sass/_global.scss */
.form {
  width: 20%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
  background-color: #bce8f1;
}

/* line 57, ../sass/_global.scss */
.box, .task-box, .question-box, .question-bool-box {
  width: 94%;
  min-height: 15%;
  height: auto;
  box-shadow: 2px 2px 2px grey;
  margin: 4px auto;
  background-color: #BBDEFB;
}

/* line 66, ../sass/_global.scss */
.glyphicon-trash {
  float: right;
  margin: 1% 1%;
}
/* line 69, ../sass/_global.scss */
.glyphicon-trash:hover {
  cursor: pointer;
  color: #1565C0;
}

/* line 74, ../sass/_global.scss */
.glyphicon-plus {
  float: left;
  margin-left: 10px;
}

/* line 79, ../sass/_global.scss */
input[type=text] {
  width: 85%;
  font-size: 16px;
}

/* line 84, ../sass/_global.scss */
input[type=radio] {
  margin-left: 25px;
  margin-top: 25px;
  width: 20px;
  height: 20px;
}

/* line 91, ../sass/_global.scss */
input[type=checkbox] {
  float: left;
  margin: 1% 1%;
  width: 20px;
  height: 20px;
}

/* line 97, ../sass/_global.scss */
.title {
  opacity: 0.4;
  height: 30px;
  width: 40%;
  float: left;
  margin-top: 1px;
  margin-left: 1%;
}

/* line 1, ../sass/_toolbox.scss */
.toolbox-list {
  list-style-type: none;
}

/* line 1, ../sass/_task-box.scss */
.task-box {
  background-color: #BBDEFB;
  height: 27%;
  overflow: auto;
}

/* line 1, ../sass/_question-box.scss */
.question-box {
  background-color: #BBDEFB;
  height: 27%;
  overflow: auto;
}

/* line 7, ../sass/_question-box.scss */
.responses {
  opacity: 0.4;
  height: 30px;
  width: 40%;
  float: right;
  margin-top: 1px;
  margin-right: 1%;
}

/* line 1, ../sass/_question-bool-box.scss */
.question-bool-box {
  background-color: #BBDEFB;
}
