.question-box{
  @extend .box;
  background-color: #BBDEFB;
  height: 27%;
  overflow: auto;
}
.responses{
  opacity: 0.4;
  height: 30px;
  width: 40%;
  float: right;
  margin-top: 1px;
  margin-right: 1%;
}