{% extends 'base.html.twig' %}
{% block stylesheets %}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('assets/stylesheets/style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/js/mdb.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

{% endblock javascripts %}
{% block title %}Notes{% endblock %}
{% block body %}
    <h3>Notes</h3>
    <div class="container">
        <div class="toolbox">
            <ul class="toolbox-list">
                <li class="task" id="task-tag">Zadanie
                    <i class="glyphicon glyphicon-plus"> </i></li>
                <li class="question" id="question-tag">Pytanie
                    <i class="glyphicon glyphicon-plus"> </i></li>
                <li class="question-bool" id="question-bool-tag">Pytanie boolean
                    <i class="glyphicon glyphicon-plus"> </i></li>
            </ul>
        </div>
        <div class="container-notes" id="accordion">
        </div>


    </div>


{% endblock %}